<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

{{wormhole-input}}
<div id="top-wormhole" class="top-wormhole">
  {{! ember-wormhole is responsible for injecting content from the component }}
</div>
