{{wormhole-input}}
<div id="wormhole" class="box right">
  {{! ember-wormhole is responsible for injecting content from the component }}
</div>
<p>
  Typing in the field moves the input to the other box. Clearing the field moves the input back. The
  input should remain focused in all situations so you can continue to type seamlessly.
</p>
